name: deploy 
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build
        run: npm run build

      - name: Publish
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist

  dev-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment: dev
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy dist/practice4/index.js --name my-svelte-app --compatibility-date 2026-02-26 --compatibility-flags=nodejs_compat --assets dist/client


